@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    color: #eff3f6 !important;
    text-decoration: none !important;
}

header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 19px 10% !important;
    background-color: #060539 !important;
    margin-top: -34px !important;
    border-radius: 9px 9px 34px 34px !important;
    box-shadow: 13px 6px 16px 0px rgb(0 0 0 / 55%);
}

.nav__links {
    list-style: none;
    padding-top: 24px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #ebd427 !important;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 165, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:rgba(0, 136, 169, 0.8)
}

.footer--user {
    display: flex;
    justify-content:space-around;
}

.nav-item a {
    color: #204057 !important;
}

.member-img {
    width: 300px;
    height: auto;
    margin-top: 1%;
    margin-left: 17%;
    border-radius: 50%;
}

.user_book_result_table, tr, td {
    text-align: center;
}