{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "user/css.html" %}
    {% include "user/js.html" %}
</head>
<body>
    <!-- Navbar -->
    {% include "user/navbar.html" %}
    <!-- EndNavbar -->

    <!-- Content -->
    <div class="container" style="margin-top:4%">
        {% block content %}
          
        {% endblock content %}
    </div>
    <!-- EndContent -->
</body>
</html>