{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'ByMe/css/login.css' %}">
</head>
<body>
    <!-- Navbar -->
    <header>
      <nav>
          <ul class="nav__links">
              <li>
                  <a href="">Home</a>
              </li>
              <li>
                  <a href="">Book</a>
              </li>
              <li>
                  <a href="">My Transactions</a>
              </li>
              <li>
                  <a href="">News</a>
              </li>
          </ul>
      </nav>
  </header>
    <!-- EndNavbar -->
</body>
</html>